<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="neighbourhoodapp.tnap.com.tnap">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_register"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neighbourhoodapp.tnap.com.tnap.LoginActivity" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_home"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".EditProfileActivity"
            android:label="@string/edit_profile"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="neighbourhoodapp.tnap.com.tnap.MainActivity" />
        </activity>

        <activity
            android:name=".EditCCInfoActivity"
            android:label="@string/edit_cc_profile"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neighbourhoodapp.tnap.com.tnap.MainActivity" />
        </activity>

        <activity
            android:name=".CCInfoActivity"
            android:label="@string/title_cc_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="neighbourhoodapp.tnap.com.tnap.MainActivity" />
            </activity>

        <activity
            android:name=".AddEventActivity"
            android:label="@string/title_add_event"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neighbourhoodapp.tnap.com.tnap.MainActivity" />
        </activity>

        <activity
            android:name=".ShowEventActivity"
            android:label="@string/title_show_event"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neighbourhoodapp.tnap.com.tnap.MainActivity" />
        </activity>

        <activity
            android:name=".EditEventActivity"
            android:label="@string/title_show_event"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".ShowEventActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="neighbourhoodapp.tnap.com.tnap.ShowEventActivity" />
        </activity>

    </application>

</manifest>